#demo1{
    width:100px;
    height: 100px;
    background: orange;
}
#demo2{
    width:200px;
    height:200px;
    background:orange;


    /*less*/
    background: url('../img/1.jpg');

}